$white-color: #260E12;
$black-color: #ffffff;
$grey-color: #D9D7CC;
$primary-color: #FF73B3;
$analogous-color: #FF9980;
$complementary-color: #FFB561;

/*
$black-color: #260E12;
$white-color: #ffffff;
$grey-color: #D9D7CC;
$primary-color: #FA41B2;
$analogous-color: #D95248;
$complementary-color: #FCD153;

*/