@import 'light-theme';
@import 'less-1200';




$page-header-background-color: $analogous-color;
$page-body-background-color: $white-color;
$page-body-text-color: $black-color;
$page-footer-background-color: $analogous-color;
$page-footer-text-color:$white-color;

$menu-item-background-color: $page-body-background-color;
$menu-item-text-color: $black-color;
$menu-item-background-color-active: $primary-color;
$menu-item-text-color-active: $white-color;

$text-title-color: $black-color;
$text-subtitle-color: $primary-color;


$button-background-color: $primary-color;
$button-text-color: $white-color;
$button-background-color-active: $analogous-color;
$button-text-color-active: $white-color;


$dot-background-color: $complementary-color;
$dot-background-color-active: $analogous-color;
$dot-background-color-current: $primary-color;

$table-title-background-color: $text-subtitle-color;
$table-title-text: $white-color;
$table-body-background-color: $page-body-background-color;
$table-body-text: $black-color;

$input-placeholder-color:$grey-color;





$product-price-text-color:$black-color;
$product-price-border-color:$primary-color;
$product-color-001: $analogous-color;
$product-color-002: $primary-color;


$space_x: 10px;
$space_x2: $space_x * 2;

$font_primary: 'Montserrat', sans-serif;
$fond_secondary: '';



*,
*::after,
*::before {
  box-sizing: border-box;
  /*margin: 0;
  padding: 0;  */
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    background-color: $white-color;
    color: $page-body-text-color;
    
}

a{
    color: inherit;
    text-decoration: none;
} 

ul{
    margin: 0;
    list-style: none;
    padding: 0;
  
}
li{
    padding-left: 0px;
}

p{
    margin: 0;
}

.container{
    max-width: 1220px;
    padding: 0 $space_x;
    margin: 0 auto;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu__list{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    height: 60px; 
    //background-color: green;
}

.menu__item{
    text-transform: uppercase;
    font-family: $font_primary;
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
   
    &:hover{
        background-color: $menu-item-background-color-active;
        color: $menu-item-text-color-active;
    }
}

.menu__item + .menu__item{
    margin-left: 20px;
}


.menu__link{
    //transition: all.3s;
    
}



.menu__link:hover{
    background-color: $menu-item-background-color-active;
    color: $menu-item-text-color-active;
}

.logo__image{
    width: 100px;
}



.book{
    margin: 100px 0 0;
}


.book__inner{
    display: flex;
    justify-content: space-between;
}

.book__image{
    width: 600px;
}

.book__title{
    font-weight: 700;
    color: $text-title-color;
}

.book__subtitle{
    font-weight: 600;
    color: $text-subtitle-color;
    font-size: 19px;
    
}

.book__text{
    /*font-size: 15px;*/
}

.book__link{
    margin-top: 40px;
    display: inline-block;
    background-color: $button-background-color;
    color: $button-text-color;
    padding: 20px 80px;
    letter-spacing: 1.1em;
    text-transform: uppercase;
    transition: all .3s;
}

.book__link:hover{
    background-color: $button-background-color-active;
    color: $button-text-color-active;
}

.book__column-slider{
    margin-left: 30px;
    flex-basis: 630px;
    max-width: 630px;
}

.slick-dots{
    position: absolute;

    top: 290px;
    right: -20px;
}

.slick-dots li + li{
    padding-top: 10px;
}

.slick-dots button{
    font-size: 0;
    padding: 0;
    border: none;
    background-color: $dot-background-color;
    width: 10px;
    height: 25px;
    border-radius: 10px;
    cursor: pointer;
    //transition: all.3s;
} 

.slick-active button{
    background-color: $dot-background-color-current;
}

.slick-dots button:hover{
    background-color: $dot-background-color-active;
}

.info{
    padding-top: 150px;
    margin-bottom: 50px;
}

.info__inner{
    display: flex;
    flex-direction: row;
}

.info__image{
    margin-right: 60px;
    flex-basis: 200px;
    object-fit: cover;
    height: 650px;
    
}

.info__list{
    flex-basis: 490px;
}

.info__item + .info__item{
    margin-top: 60px ;
}

.info__item-title{
    text-transform: uppercase;
    margin: 0 0 10px;
}

.info__item-text{
    max-width: 450px;
}


.book-details{
    padding-top: 100px;
    margin-bottom: 150px;
}

.book-details__head{
    margin: 0 0 40px;
    text-transform: uppercase;
    font-weight: 600;
 
}

.book-details__inner{
    display: flex;
}

.book-details__image{
    align-self: center;
}

.book-details__items{
    flex-basis: 570px;
    margin-right: 60px;
}

.book-details__list + .book-details__list{
    padding-top: 30px;
}

.book-details__title{
    padding: 3px 0 3px 5px;
    color: $table-title-text;
    background-color: $table-title-background-color;
    text-transform: uppercase;
    font-weight: 700;

}

.book-details__line{
    display: flex;
    padding-top: 5px;
    color: $table-body-text;
}

.book-details__name{
    flex-basis: 285px;
    padding-right: 20px;
}

.book-details__descr{
    flex-basis: 285px;
}

.slider__image{
    
    height: 600px;
    object-fit: scale-down;
}

.slider{
    margin-bottom: 150px;
}

.slider__item{
    padding-left: 60px;
}

.slider__items .slick-dots{
    top: 0;
    left: 0;

}

.order{
    margin-bottom: 100px;
}

.order__inner{
    position: relative;
}

.form{
    max-width: 420px;
}

.form__title{
    text-transform: uppercase;
    margin-bottom: 40px;
}

.form__text{
    max-width: 300px;
    margin-bottom: 30px;
}

.form__input-name,
.form__input-phone{
    width: 100%;
    border: none;
    border-bottom: 1px solid $button-background-color;
    padding-bottom: 10px;
    margin-bottom: 20px;
    outline: none;
    background-color:$white-color ;
    color: $black-color;
}

.form__input-name::placeholder,
.form__input-phone::placeholder {
    color: $input-placeholder-color;
    opacity: 0.5;
}

.form__text{
    margin-bottom: 10px;
}

.form__labels{
    display: flex;
    margin-bottom: 50px;
}

.form__label + .form__label{
    margin-left: 23px;
}

.form__input-radio{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.form__book{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

.form__indicator{
    width: 80px;
    height: 12px;
    border-radius: 30px;
    cursor: pointer;
}

.form__indicator--brown{
    background: $product-color-002;
}

.form__indicator--yellow{
    background: $product-color-001; 
}

.form__button{
    margin-top: 40px;
    display: inline-block;
    background-color: $button-background-color;
    color: $button-text-color;
    padding: 20px 80px;
    letter-spacing: 1.1em;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;
    border: 0;
}

.form__button:hover{
    background-color: $button-background-color-active;
    color:$button-text-color-active;
}


.form__input-radio:checked + .form__book{
    display: block;
}

.form__book-image{
    object-fit: scale-down;
    height: 400px;
}

.form__book-price{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 220px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    border: 1px solid $product-price-border-color;
    border-radius: 50%;
    transform: translateX(-150%);
    color:$product-price-text-color;
}

.form__book-price::after{
    content: "";
    position: absolute;
    top: 12px;
    right: 0;
    left: 0;
    width: 220px;
    height: 100px;
    border: 1px solid $product-price-border-color; 
    border-radius: 50%; 
}

.footer{
    background-color:  $page-footer-background-color; 
}

.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 100px;
}

.footer__socials-image, .footer__links-image, .footer__contacts-image{
    width: 32px;
    height: 32px;
}

.footer__links-text, .footer__contacts-text{
    color: $page-footer-text-color;
    font-size: 12px;
}

.footer__socials-link + .footer__socials-link{
    margin-left: 26px;
}

.footer__contacts-link, .footer__links-link{
    display: flex;
    align-items: center;
}

.footer__contacts-image, .footer__links-image{
    margin-right: 10px;
}

.footer__contacts-link + .footer__contacts-link, .footer__links-link + .footer__links-link{
    margin-top: 10px;
}

.menu-button{
    display: none;
}

 @media  (max-width: 599px) {
    .menu__list{
       // background-color: red;
    }

 }

 @media  (max-width: 499px){


    .menu-button{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 45px;
        height: 30px;
        background-color: $page-body-background-color;
        border: 0;
        cursor: pointer;
        z-index: 4;
    }

    .menu-button__line{
        background-color: $black-color;
        width: 100%;
        height: 3px;
    }

    .menu__list{
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100vh;
        z-index: 3;
        margin-right: 0;
        align-items: center;
        padding-top: 15vh;
    }

    .menu__item{
      
        //background-color: red;
        width: 100%;
        
    }

    .menu__link{
        padding: 20px 0;
        font-size: 3vh;
        display: block;
       
        width: 100%;
        text-align: center;
    }

    .menu__item + .menu__item{
        margin: 0;
    }

    .menu__list--open{
        display: flex;
        
    }
    
    .logo{
        z-index: 4;
    }
 }

/* $menu-item-background-color: $page-body-background-color;
$menu-item-text-color: $black-color;
$menu-item-background-color-active: $primary-color;
$menu-item-text-color-active: $white-color;*/